.topnav img {
    
    float: left;
    margin-right: 20px;
}


.quotes{
    background-color: #FFF9F9;
    overflow: hidden;
    float: right;
    text-align: center;
    margin-top: 37px;
    margin-right: 625px;
}


.topnav {
    background-color: #FFF9F9;
    overflow: hidden;
   
}

.topnav a {
    position: relative;
    left:-280px;
    float: right;
    display: block;
    color: #377877;
    text-align: center;
    padding: 22px 16px;
    text-decoration: none;
    font-size: 22px;
    font-family: Josefin Sans, sans-serif;
    margin-top: 30px;
}

.topnav a:hover {
    color: #F24B4B;
}

.topnav a.active {
  color: #fc4629;
  border: 2.9px solid #FC4629;
  height: 20px;
  width: 120px; 
 border-radius: 55px;
 padding: 20px;
 margin-left: 72px;
   
}

h1 {
  font-size: 23px;
  font-family: Montserrat, sans-serif;
}


.image img{
 /*border: 5px solid #FC4629;*/
 margin: 10px 21px 22px 807px;
}

.image1 img{
position: absolute;
 top: 147px;
 margin: 10px 21px 22px 35px;
}

.image2 img{
position: absolute;
 top: 810px;
 margin: 10px 21px 22px 750px;
}

.text1 {
position: absolute;
top: 485px;
margin-left: 270px;
font-size: 25px;
font-family: Montserrat, sans-serif;
}

.text2 {
position: absolute;
top: 530px;
margin-left: 270px;
font-size: 40px;
font-family: Montserrat, sans-serif;
}

.text3 {
position: absolute;
top: 690px;
margin-left: 270px;
font-size: 16.6px;
font-family: Montserrat, sans-serif;
font-weight: 500;
}

.button{
  position: absolute;
  text-align: center;
  padding-left: 268px;
  top: 770px;
  font-color: white;
}

.butt{
  border: 3px solid red;
  font-family:Josefin Sans, sans-serif;
  height:60px;
  width:215px;
  border-radius: 55px;
  padding: 20px;
  border: none;
  color: white;
  background: #F34A45;
  font-size: 18px !important; 
}

