nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav-list {
    display: flex;
    flex-direction: row;
    width: 50vw;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
}

.nav-list > li > a {
    position: relative;
    text-decoration: none;
    color: #035755;
    font-weight: 500;
}

.nav-list > li > a::after {
    content: '';
    position: absolute;
    bottom: -10px;
    right: 50%;
    transform: translate(50%, 0);
    color: #FF383D;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: transparent;
    transition: 500ms;
}

.nav-list > li > a:hover {
    text-decoration: none;
    color: #FF383D;
}

.nav-list > li > a:hover:after {
    background-color: #F24B4B;
}

.contact-btn {
    border: 2px solid #FF383D;
    padding: 10px 15px;
    background-color: transparent;
    width: 173px;
    height: 60px;
    border-radius: 25px;
    color: #FF383D;
    font-size: 18px;
}

.contact-btn:hover {
    background-color: #FF383D;
    color: #f8e7e7;
    cursor: pointer;
    transition: 500ms;
}